<div class="slider-wrap">
	<div class="swiper">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<h1 class="swiper-slide__title">we are devtest.</h1>
				<p class="swiper-slide__text">
					professionals <br />
					in the creative industries
				</p>
				<a href="#/" class="link link-reset">get in touch</a>
			</div>
			<div class="swiper-slide">
				<h1 class="swiper-slide__title">we are devtest.</h1>
				<p class="swiper-slide__text">
					professionals <br />
					in the creative industries
				</p>
				<a href="#/" class="link link-reset">get in touch</a>
			</div>
			<div class="swiper-slide">
				<h1 class="swiper-slide__title">we are devtest.</h1>
				<p class="swiper-slide__text">
					professionals <br />
					in the creative industries
				</p>
				<a href="#/" class="link link-reset">get in touch</a>
			</div>
		</div>

		<div class="swiper-pagination"></div>

		<div class="swiper-btn swiper-btn--prev"></div>
		<div class="swiper-btn swiper-btn--next"></div>
	</div>
</div>
